.DS_Store
*.class
.metadata
.settings/
.project
.idea
target/
bin/
*.tmp
*.bak
*.swp
*.iml
.classpath
logs/
zookeeper.out
simple-chat-client/target/
simple-chat-component/target/
simple-chat-server/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
